.list_style{
    max-height: 850px; /*Fix this because the website needs to be responsive*/
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    
}

.no_border{
    border-radius: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
 
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}